body {
  background-color: beige;
}

textarea,
#sidePanel {
  display: inline-block;
  vertical-align: top;
}

textarea {
  width: 375px;
  height: 375px;
  margin-right: 30px;
  margin-bottom: 30px;
}

h2 {
  margin-top: 0;
}

.frequency {
  font-size: 24px;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 5px;
}

.character,
.percent {
  display: inline-block;
}

.character {
  width: 15px;
  font-weight: bold;
}

.percent {
  width: 150px;
  text-align: right;
}